<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <div class="seccion-oscura">
        <img
        class="footer-icono"
        src="../../../assets/APLogo.png"
        alt="Logo de footer"
      />
      <div
        class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center"
      >
        <a
          href="https://www.linkedin.com/in/david-saghatelyan/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../../assets/linkedin.svg" alt="Logo linkedin"></a>
        <a
          href="https://github.com/DavoSagha"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../../assets/github.svg" alt=" Logo github"></a>
      </div>
      <div class="derechos-de-autor">
        Creado por David Saghatelyan (2022) &#169;
      </div>
    </div>
  </footer>