<div class="row" id="experiencia">
  <h1>Experiencia laboral</h1>
  <div class="">
    <ul>
      <li class="">
        <span>Trabajo 1</span>
        -
        <h3>(Years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ea
          saepe, sunt inventore delectus assumenda non ipsum eveniet doloremque
          expedita nobis! Rem ipsam veniam quibusdam iste aut dolorem dolor
          cupiditate.
        </p>
      </li>
      <li class="">
        <span>Trabajo 2</span>
        -
        <h3>(Years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ea
          saepe, sunt inventore delectus assumenda non ipsum eveniet doloremque
          expedita nobis! Rem ipsam veniam quibusdam iste aut dolorem dolor
          cupiditate.
        </p>
      </li>
      <li class="">
        <span>Trabajo 3</span>
        -
        <h3>(Years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ea
          saepe, sunt inventore delectus assumenda non ipsum eveniet doloremque
          expedita nobis! Rem ipsam veniam quibusdam iste aut dolorem dolor
          cupiditate.
        </p>
      </li>
    </ul>
  </div>
</div>
