<div class="row" id="proyecto">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="proy">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Portfolio web personalizable</h3>
        <p>
          Desarrollé un portfolio web que permite a los usuarios personalizar su
          información de nombre, estudio y experiencia laboral de manera
          intuitiva y fácil. Además, implementé funcionalidades de autenticación
          y autorización para asegurar la privacidad y seguridad de los
          usuarios. Para la implementación de la aplicación utilicé tecnologías
          de última generación como Spring Boot, Java y Angular, lo que permitió
          una integración fluida entre el back-end y el front-end. También
          implementé una arquitectura de base de datos escalable para gestionar
          la información de los usuarios de manera eficiente.
        </p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <a href="">
          <img
          src="../../../assets/proy2.png"
          class="img-fluid img-proyecto"
          alt=""
        />
        </a>
      </div>
      <br />
      <br />
    </div>
    <div class="proy">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Sistema de ventas y reportes de empleados en C++</h3>
        <p>
          Desarrollo de un sistema para la gestión de ventas de una empresa que incluye la generación de reportes de empleados y productos vendidos. El sistema está desarrollado en C++ y utiliza un archivo de empleados y otro de ventas para almacenar la información. Se utiliza un vector estático para guardar los empleados y pilas dinámicas para cada empleado que contienen los productos vendidos por cada uno de ellos. El sistema genera reportes ordenados por recaudación de cada empleado y los productos vendidos por fecha de venta descendente.
        </p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <a href="https://github.com/DavoSagha/Proyect-c-/tree/main">
          <img
          src="../../../assets/proy1.png"
          class="img-fluid img-proyecto"
          alt=""
        />
        </a>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
