<div class="row" id="proyecto">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary btn-sm" routerLink="/nuevoproy" *ngIf="isLogged">
            Agregar proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <h4>{{Proyecto.nombreP}}</h4>
                    </td>
                    <td><p></p>{{Proyecto.descripcionP}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproy/{{Proyecto.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>