/* GENERALES */
:root{
    --grey-obs: #272727;
    --grey-clair: #5f5c5c;
    --violet: #5e17eb;
    --blanco: #d5d3d3;
    --violet-fondo:#5e17eb83;
    --grey-palabras:#212020;
}
*{
    margin: 0;
    padding: 0;
}
.seccion-oscura{
    color: #d5d3d3;
    background-color: #272727;
}

.seccion-clara{
    color: black;
    background-color: #5f5c5c;
}

h1:hover,h2:hover{
    color: #5e17eb;
    transition: all 0.2s ease-in-out;
}

/*  */
.row{
    color: #d5d3d3;
    background-color: #5f5c5c;
     padding: 20px; 
}

.subir{
    margin-left: 10px;
}



.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.borde2{
   /*  border-radius: 50px; 
    margin-top: 20px; */
   /*  margin-bottom: 30px;  */
   /*  padding-top: 20px; */
    /* padding-bottom: 20px; */

}




.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}