/* GENERALES */
:root{
    --grey-obs: #272727;
    --grey-clair: #5f5c5c;
    --violet: #5e17eb;
    --blanco: #d5d3d3;
    --violet-fondo:#5e17eb83;
    --grey-palabras:#212020;
}
.seccion-oscura{
    color: #d5d3d3;
    background-color: #272727;
}

.seccion-clara{
    color: black;
    background-color: #5f5c5c;
}

h2:hover>span{
    color: #5e17eb;
    transition: all 0.2s ease-in-out;
}

/*  */
.row{
    padding: 20px;
}
div{
    color: #d5d3d3;
    background-color: #272727;
    text-align: center;
}
.seccion-texto{
    font-size: 1.5rem;
    
}

/*Estilo de la foto de perfil*/
@media (min-width: 701px){
    #fotodeperfil{
        width: 200px;
        margin-top: -150px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top:80%;
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media (max-width: 700px){
    #fotodeperfil{
        width: 200px;
        margin-top: -165px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top:75%;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}