<div class="acerca-de row" id="acerca-de">

    

  <div class="img col-xs-12 col-sm-2 col-md-2 col-lg-2"><img id="fotodeperfil" src={{persona.img}} class="img-fluid" /></div>
  <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
    <div class="col-lg-2">
      <button type="button" class="btn btn-primary btn-sm" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar persona
    </button>
    </div>
    <h3 class="seccion-titulo">Conoce a <span id="nombre">{{persona.nombre}} {{persona.apellido}}</span></h3>
        <p class="seccion-texto descripcion">
          {{persona.descripcion}}
        </p>
  </div>
</div>
