/* GENERALES */
:root{
    --grey-obs: #272727;
    --grey-clair: #5f5c5c;
    --violet: #5e17eb;
    --blanco: #f4f4f4;
    --violet-fondo:#5e17eb83;
    --grey-palabras:#212020;
}
.seccion-oscura{
    color: white;
    background-color: var(--grey-obs);
}

.seccion-clara{
    color: black;
    background-color: var(--grey-clair);
}
h1:hover,h2:hover{
    color: #5e17eb;
    transition: all 0.2s ease-in-out;
}
/*  */
.navbar{
    padding: 0.5rem;
    background-color: var(--grey-clair);
    display: flex;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    color: #f4f4f4;
}

.nav-item a:hover{
    color: #5e17eb;
}

a{
    text-decoration: none;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}



.iconos-redes-sociales  a:hover{
    border: 2px solid #5e17eb;

}

.login:hover {  
    background-color: transparent;
    border-color: #5e17eb;
    color: #a37cff;
}

@media screen and (max-width: 767.98px) {
    nav{
        display: flex;
    }
    .navbar-brand {
    display: none;
    }
}

