/* GENERALES */
:root{
    --grey-obs: #272727;
    --grey-clair: #5f5c5c;
    --violet: #5e17eb;
    --blanco: #f4f4f4;
    --violet-fondo:#5e17eb83;
    --grey-palabras:#212020;
}
.seccion-oscura{
    color: white;
    background-color: var(--grey-obs);
}

.seccion-clara{
    color: black;
    background-color: var(--grey-clair);
}
h1:hover,h2:hover{
    color: #5e17eb;
    transition: all 0.2s ease-in-out;
}
/*  */
.navbar{
    padding: 0.5rem;
    background-color: var(--grey-clair);
    display: flex;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    color: #f4f4f4;
}

.nav-item a:hover{
    color: #5e17eb;
}

a{
    text-decoration: none;
}
@media screen and (max-width: 767.98px) {
    nav{
        display: flex;
    }
    .navbar-brand {
    display: none;
    }
}